        body {
            font-family: 'Public Sans', sans-serif;
        }

        .material-symbols-outlined {
            font-size: 20px;
        }

        /* Hide scrollbars for a cleaner POS feel but keep functionality */
        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background: #ec5b1344;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #ec5b1388;
        }